/*** Add your styles here **/
:root{
    --primario:#373834;
    --secundario:#e08709;
}

body{
    font-family: 'Lato', sans-serif;
    /*font-family: 'Italianno', cursive;
    font-family: 'Raleway', sans-serif;*/
}

.bg-dark{
    background-color: var(--primario)!important;
}

@media (min-width:768px){
    .barra.bg-dark{
        background-color: transparent !important;
    }
    .header{
        position: relative;
    }
    .header .barra{
        position: absolute;
        z-index: 100;
        width:100%;
    }
}

.navbar-brand{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.navbar-brand span{
    font-weight: 900;
}

.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
    text-transform: uppercase;
    font-size: .8rem;
}

.dropdown-menu{
    background-color: transparent;
    border: none;
}
.dropdown-menu .dropdown-item{
    color: #ffffff;
    text-transform: uppercase;
}
.dropdown-menu .dropdown-item:hover{
    background-color: rgba(255,255,255,.3);
}

.btn-warning{
    border-style: none;
    border-radius: 0%;
    padding: 14px;
}

/**=============**/
.card-precio{
   font-size: 1.2rem;
   color: #71b100; 
}

/**======Encuentranos=======**/
.encuentra{
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
@media (min-width: 992px){
    .encuentra{
        background-size: cover;
    }
}
.encuentra .row{
    height: 25rem;
}

.encuentra h3{
    font-size: 2.2rem;
    font-weight: 900;
}
.entrada h3::after{
    content: '';
    display: block;
    width: 12rem;
    height: .2rem;
    background-color: #71b100;
    margin-top: .5rem;
}
.meta span{
    color: rgb(204, 122, 122);
}
 